mixin docs(model, level)
  - var level = level || 1

  section
    if level === 1
      h2= toTitleCase(model.name.replace(/"/g, ''))
        a(id=model.name.replace(/"/g, ''))
    else if level === 2
      h3
        span.kind= model.kindString
        | #{model.name}
        a(id=model.name)
    else if level === 3
      h4
        if model.flags.isStatic
          span.kind static
        if model.kindString !== 'Constructor'
          span.kind= model.kindString
        | #{model.name}
        a(id=model.name)

    .description
      if model.comment
        p= model.comment.shortText
      if model.signatures
        div!= parseTemplate('member.signatures', model)
      else if model.getSignature || model.setSignature
        div!= parseTemplate('member.getterSetter', model)
      else if model.declaration
        div!= parseTemplate('member.declaration', model)

    if model.children
      if level === 1
        for child in model.children
          if !child.inheritedFrom
            hr
            +docs(child, level + 1)
      else
        .section-body
          for child in model.children
            if !child.inheritedFrom
              +docs(child, level + 1)
