block vars

mixin icon(url, width, height)
  - height = height || width
  svg(viewBox="0 0 " + width + ' ' + height, class="icon", width=width, height=height)
    use(xlink:href="/images/icons.svg#" + url)

mixin footer()
  footer.global-footer
    .footer-left
      a(href='https://mathigon.org') Mathigon.org
      span.dot •
      a(href='https://github.com/mathigon') Mathigon on Github
      span.dot •
      a(href='https://mathigon.org/policies') Terms and Privacy
    .footer-right © Mathigon

doctype html
html.ready
  head
    meta(charset="utf-8")
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    title= title
    meta(name="description" content=subtitle)
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
    meta(http-equiv="cleartype", content="on")

    meta(property="og:title" content=title)
    meta(property="og:description" content=subtitle)
    meta(property="og:image" content="https://mathigon.org/images/og-tile/mathigon.jpg")
    meta(property="og:site_name" content="Mathigon")
    meta(name="twitter:site" content="@MathigonOrg")

    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300,400i&amp;subset=greek', rel='stylesheet', type='text/css')
    link(href='/styles.css?v=3' rel='stylesheet')

  body
    header
      a#logo(href='/')
        +icon('logo', 36)
        +icon('title-io', 120, 36)

      nav
        x-popup(animation="fade").nav-item
          button.nav-link.popup-target
            +icon('glossary', 24)
            span.nav-text JS Libraries
          .popup-body
            a.nav-link.red(href="/core")
              +icon('controls', 24)
              | core.js
            a.nav-link.blue(href="/fermat")
              +icon('compass', 24)
              | fermat.js
            a.nav-link.yellow(href="/hilbert")
              +icon('lightbulb', 24)
              | hilbert.js
            a.nav-link.green(href="/boost")
              +icon('brush', 24)
              | boost.js

        x-popup(animation="fade").nav-item
          button.nav-link.popup-target
            +icon('library', 24)
            span.nav-text Textbook Content
          .popup-body
            a.nav-link.blue(href="/markdown")
              +icon('notes', 24)
              | Markdown
            a.nav-link.red(href="/guidelines")
              +icon('book', 24)
              | Content Guide
            a.nav-link.yellow(href="/functions")
              +icon('settings', 24)
              | Step Functions

    block body
    script(src="/scripts.js?v=3")

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q || []).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-37525836-5', 'auto');
      ga('send', 'pageview');
